@import "_mixin.scss";
@import "common.scss";
.wrapper {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    background: skyblue;
    font-size: px2rem(16px)
}

input {
    width: px2rem(300px);
    height: px2rem(44px);
    border: 1px solid #ccc;
    background: #fff;
    margin-left: px2rem(16px)
}

div img {
    margin-left: px2rem(16px)
}

.main {
    display: flex;
}

.main dl {
    width: 16%;
    height: px2rem(44px);
    flex-wrap: wrap;
}

.list {
    display: flex;
}

.list li {
    text-align: center;
    height: px2rem(55px);
    line-height: px2rem(55px);
}

.list li img {
    display: inline-block;
    margin-left: px2rem(16px);
}

.list span {
    margin-top: px2rem(33px);
}